
# A URL to the image which shows up on the server details screen (dimensions are 512x256).
server.headerimage "https://i.imgur.com/Bkmqtkn.jpg"

# The URL to your servers website.
server.url "http://fantasyland.epizy.com/index.html?i=1/"
server.hostname "Rust Fantasyland Singapore"
server.description "Welcome To Rust Fantasyland Singapore\n\nPlease be respectful to the others especially beginner\n\nBP wipe at 8 July\nMap wipe at 8 July\nMap size:3700"
server.port 28015
server.tags monthly

####################################
# Optional Settings You Can Change #
####################################

# Tags are additional bits of information that describe Rust servers.
# Up to three of them will be displayed on the Rust server browser and filtering will be supported one day.
# Supported Tags can be found here:
# https://wiki.facepunch.com/rust/server-browser-tags
#server.tags 

# A value of false makes text chat location based only (players need to be close to each other).
# Values: true, false
#server.globalchat true

# Controls if player vs player damage is allowed. If your server is primarily for building, you'll want to set this to false
# Values: true, false
#server.pve false

# Controls fall damage.
# Values: true, false
#falldamage.enabled true

# Helicopter bullet accuracy. Higher numbers are less accurate.
#heli.bulletAccuracy 2

# Changes how often resources respawn.
#spawn.min_rate 0,1
#spawn.max_rate 1

# Changes how close resources spawn to each other.
#spawn.min_density 0,1
#spawn.max_density 1